<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109911835-4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-109911835-4');
    </script>
    <title>Which card should I lead? Euchre database</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <meta name="google-site-verification" content="oPaEVz9U7hjXxUqVafEEhyNbT-8tH_klI4OK1UVrQHk" />
    <style>
    .hand-card {
      max-width: 19%;
      height: auto;
    }
    </style>
  </head>
  <body>
    <div class=page>
      <h1>Which card should I lead? Euchre database</h1>
      <h4>Hearts is always trump</h4>
    </div>
    <form action="." method="get">
      {% for card in cards %}
        <input size="2" name="c" value="{{ card }}" autocomplete="off" id="search-c{{ loop.index }}"/>
      {% endfor %}
      <input type="submit"/>
    </form>
    {% for card in cards %}
      {% if card %}
        <img src="/static/{{ card }}.png" alt="{{ card }}" class="hand-card"/>
      {% endif %}
    {% endfor %}
    <table>
      {% for result in results %}
        <tr>
          <td><img src="/static/{{ result.card }}.png" alt="{{ card }}"></td>
          <td><ul>
          {% for key, value in result.iteritems() if not key == 'card' %}
            <li>{{ key }}: {{ value }}</li>
          {% endfor %}
          </ul>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
